/**
 * ----------------------
 * Base - Main
 * ----------------------
 */

html {
    @apply scroll-smooth bg-cover min-h-screen text-green-900;
    background-position: 0 0;
    background-size: 100% 200%;

    transition: background-position 250ms ease-out;
    background-image: linear-gradient(180deg, theme("colors.mint.500") 0%, theme("colors.mint.800") 100%);
}

html.dark {
    @apply text-mint-50;
    background-position: 0 100%;
}

body {
    @apply font-sans text-base subpixel-antialiased;

    @media (resolution >= 2dppx) {
        @apply antialiased;
    }
}

picture img {
    @apply h-full w-full object-cover;
}


.container {
    @apply mx-auto max-w-screen-max;

    &--sm {
        @apply max-w-screen-sm;
    }

    &--md {
        @apply max-w-screen-md;
    }

    &--lg {
        @apply max-w-screen-lg;
    }

    &--xl {
        @apply max-w-screen-xl;
    }

    &--2xl {
        @apply max-w-screen-2xl;
    }
}

@layer utilities {
    .container-px {
        @apply px-4 lg:px-6;
    }
}

.modular-content {
    @apply flex flex-col space-y-16 lg:space-y-32;
}

.grid-layout {
    @apply grid w-full grid-cols-12 gap-2 md:gap-6 xl:gap-12;
}

@layer utilities {
    .breakout {
        @apply relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw] w-screen;

        &--reset {
            @apply left-auto right-auto mx-0 w-auto;
        }
    }
}
